header{
    background-color: darkblue;
    color: gold;
    font-size: large;
    font-style: italic;
    text-align: center;
    position: relative;
}
section{
   position: relative;
   text-align: justify;
 }
 .moving{
    left: 20em;
    top: -13.15em;
 }
 figure{
     position: relative;
 }
body{background-color: lightblue;}
h1{margin: 0%;}
ul, ol, li{margin: 0%;}
p{margin: 0%;}



